doctype html
html(lang="en")
  head
    title= pageTitle
    meta(property='keywords', content= keyWords)
    meta(property='description', content= Description)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript'). 
      $(document).ready(function() {
      $("#goto select").change(function(){
        if ($(this).val()!='') {
         window.location.href=$(this).val();
        }
        });
        });
  body
    h1 Custom select for Lowe Profero front end developer test
    p. Choose a website you want to visit.  
    #goto.cust-select
      select
        option(value='',selected='selected') - Choose a site - 
        option(value='http://www.loweprofero.com') Lowe Profero
        option(value='http://beijing.loweprofero.com') Lowe Profero Beijing
        option(value='http://upstartpark.com') Upstart Park
        option(value='http://pbxpolling.upstartpark.com') PBX Poller