{
  pageTitle: 'Custom select for Lowe Profero front end developer test',
  keyWords: 'custom select,custom forms,select input styling,',
  Description: 'This is a custom select element for the Lowe Profero front end developer test',
}